<script type="x/template" id="vue-compare-list-count">
    <a href="{{ urls.compareList }}" rel="nofollow">
        <span class="badge-right">${compareListCount}</span>
        <i class="fa" :class="{'fa-heart-o': !compareListCount, 'fa-heart': compareListCount}" aria-hidden="true"></i>
    </a>
</script>
