<script>
"use strict";

var _extends = Object.assign || function (target) { for (var i = 1; i < arguments.length; i++) { var source = arguments[i]; for (var key in source) { if (Object.prototype.hasOwnProperty.call(source, key)) { target[key] = source[key]; } } } return target; };

Vue.component("add-to-compare-list", {

props: {
    template: {
        type: String,
        default: "#vue-add-to-compare-list"
    },
    variationId: Number
},

data: function data() {
    return {
        isLoading: false
    };
},


watch: {
    isVariationInCompareList: function isVariationInCompareList() {
        this.changeTooltipText();
    }
},

created: function created() {
    this.$options.template = this.template;
},


methods: {
    switchState: function switchState() {
        if (this.isVariationInCompareList) {
            this.removeFromCompareList();
        } else {
            this.addToCompareList();
        }
    },
    addToCompareList: function addToCompareList() {
        var _this = this;

        if (!this.isLoading) {
            this.isLoading = true;
            this.$store.dispatch("addToCompareList", parseInt(this.variationId)).then(function (response) {
                _this.isLoading = false;

                NotificationService.success(TranslationService.translate("MykitchensCeresTheme::Template.singleItemCompareListAdded"));
            }, function (error) {
                _this.isLoading = false;
            });
        }
    },
    removeFromCompareList: function removeFromCompareList() {
        var _this2 = this;

        if (!this.isLoading) {
            this.isLoading = true;
            this.$store.dispatch("removeCompareListItem", { id: parseInt(this.variationId) }).then(function (response) {
                _this2.isLoading = false;

                NotificationService.success(TranslationService.translate("MykitchensCeresTheme::Template.singleItemCompareListRemoved"));
            }, function (error) {
                _this2.isLoading = false;
            });
        }
    },
    changeTooltipText: function changeTooltipText() {
        var tooltipText = TranslationService.translate("MykitchensCeresTheme::Template." + (this.isVariationInCompareList ? "singleItemCompareListRemove" : "singleItemCompareListAdd"));

        $(".add-to-compare-list").attr("data-original-title", tooltipText).tooltip("hide").tooltip("setContent");
    }
}
});
</script>
<script type="x/template" id="vue-add-to-compare-list">
    <div class="col-xs-12">
        <a class="text-muted small add-to-compare-list"  @click.prevent="switchState()" data-toggle="tooltip" data-placement="top" title="">
            <i v-waiting-animation="isLoading" class="fa fa-balance-scale"></i>
            {{ trans("MykitchensCeresTheme::template.singleItemCompare") }}
        </a>
    </div>
</script>
